/*apply css properties to body tag*/
 
body {
    position: absolute;
    left: 0%;
    text-align: center;
}
 
/*apply css properties to container class*/
 
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
}
 
/*apply css properties to button tag*/
 
button {
    width: 90px;
    height: 60px;
    font-size: 30px;
    background-color: green;
    color: honeydew;
}
 
/*apply hover effect to button tag*/
 
button:hover {
    background-color: greenyellow;
    color: grey;
}
 
/*apply css properties to h2 tag*/
 
h2 {
    color: black;
    margin: 0 50px;
    font-size: 45px;
}
 
/*apply css properties to h1 tag*/
 
h1 {
    font-size: 35px;
    color: green;
    text-align: center;
    padding-left: 10%;
}